*{
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-header {
  padding: 5px;
  background-color: #282c34;
  min-width: 100vmin;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-body {
  background-color: black;
  display: flex;
  flex-direction: row;
  font-size: calc(10px + 2vmin);
  color: white;
  justify-content: space-around;
}


.nav-div{
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 5px 5px #1e293b;
}

.nav-div button {
  margin: 5px;
}


.card {
  display: flex;
  max-width: 20em;
  margin: 5px;
  border-radius: 25px;
  background-color: #1e293b;
}

.movie-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: stretch;
}

.review-header {
  display: flex;
  justify-content: space-between;
  color: whitesmoke;
}

.movieposter {
  max-width: 200px;
  max-height: 300px;
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.2);
}


.star-rating {
  font-size: 24px; 
}

.star {
  cursor: pointer;
}

.selected {
  background-color: gold;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.review-text{
  font-size: 20px;
  text-align: left;
  color: #d1d5db;
}

.list-header{
  margin: 10px;
  font-weight: heavy;
}

.movie-title{
  font-weight: heavy;
  color: white;
}

.review-form-header{
  color: whitesmoke;
}